body {
    font-family: Arial, sans-serif;
    background-color: rgb(73, 207, 205);
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td:first-child {
    color: rgb(91, 22, 145);  
    font-weight:lighter;
    padding-right: 10px;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
        background-color: #fff;

}

td {
    padding: 10px;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #388E3C;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 3px;
}
