body {
    font-family: Arial, sans-serif;
    background-color: rgb(73, 207, 205);
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 450px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 300px;

    display: flex;               
    flex-direction: column;     
    justify-content: center;    
}



td:first-child {
    color: rgb(91, 22, 145);  
    font-weight: lighter;
    padding-right: 10px;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

td {
    padding: 10px;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0b7a11;
}

.registration-buttons {
    text-align: center;
    margin-top: 30px;
}

.registration-buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
 }

.registration-buttons button:hover {
    background-color: #0056b3;
}
